@use '../variables/' as *;
@use '../functions/' as *;

.latest_release_wrap {
    // @include bordered;
    width: $w-100;
    height: 100vh;
    padding: $spacing-xxxl 0;
    margin-top: $spacing-xxxl;
}

.latest_release_content {
    width: $w-100;
    height: 100%;
    @extend %flex-center;
    gap: 10%;
}

.album_cover {
    width: 35%;
    height: 100%;
    @extend %flex-center;
    // padding-right: 1%;
}

.album_box {
    position: relative;
    // z-index: 1;
    width: 100%;
    max-width: 305px;
    height: 100%;
    max-height: 350px;
    aspect-ratio: 1;
    border: .5px solid $white;
    padding: $spacing-sm;
    box-shadow: 0 10px 50px rgba($accent, 0.4);

    &::before {
        content: '#Latest';
        font-size: $f-s-display;
        letter-spacing: $letter-spacing-basic;
        position: absolute;
        top: 150px;
        left: -190px;
        transform: rotate(-90deg);
    }

    &::after {
        content: 'release';
        font-size: $f-s-display;
        letter-spacing: $letter-spacing-basic;
        position: absolute;
        top: -55px;
        left: 10px;
    }

    .album_img {
        width: 100%;
        height: 100%;
        border: 2px solid $white;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .album_deco {
        position: absolute;
        bottom: -70px;
        right: -55px;
        width: 290px;
        aspect-ratio: 1;
        z-index: -1;
        img{
            object-fit: contain;
        }
    }
}

.songlist {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-xxxl;
    // padding: $spacing-md 0;
}

.songlist_title {
    // margin-bottom: $spacing-xxxl;

    h2 {
        font-size: $f-s-xxxl;
        font-weight: $f-w-b;
        letter-spacing: $letter-spacing-basic;
        color: $text;
        margin-bottom: $spacing-xs;
        text-align: center;
    }

    p {
        font-size: $f-s-sm;
        color: $gray-400;
        @extend %line_height_letter_spacing;
        // font-style: italic;
        text-align: center;
    }
}

.songlist_items {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    // margin-bottom: $spacing-xxl;
}

.SongCard_wrap {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    padding: $spacing-xs $spacing-sm;
    border-radius: $rad-basic-sm;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background: rgba($accent, 0.08);
        transform: translateX(3px);
    }

    .play_btn {
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-image: url('/images/Latest_release/play_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: all 0.3s ease;
        flex-shrink: 0;

        &:hover {
            background-image: url('/images/Latest_release/play_icon_hover.svg');
        }

        .pause {
            background-image: url('/images/Latest_release/pause_icon.svg');
        }
    }

    .text_box {
        flex: 1;

        h3 {
            font-size: $f-s-lg;
            color: $text;
            font-weight: $f-w-r;
            margin-bottom: $spacing-xxs;
            white-space: nowrap;
            letter-spacing: $letter-spacing-basic;
        }

        p {
            font-size: $f-s-sm;
            color: $gray-500;
            white-space: nowrap;
            letter-spacing: $letter-spacing-basic;
        }
    }

    >p {
        font-size: $f-s-sm;
        color: $gray-500;
        flex-shrink: 0;
        min-width: 40px;
        text-align: right;
        letter-spacing: $letter-spacing-basic;
    }
}

.btn_box {
    @extend %flex-center;
    gap: $spacing-md;

}

.Listen_on_Spotify {
    flex-shrink: 0;
    @extend %btn-style-basic;
    @include bordered;
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    padding: $spacing-xs $spacing-sm;
    font-size: $f-s-lg;
    letter-spacing: $letter-spacing-basic;


    svg {
        width: 20px;
        height: 20px;
        transition: all 0.3s ease;

        path {
            fill: $accent;
            transition: all 0.3s ease;
        }
    }

    &:hover {
        svg path {
            fill: $text;
        }
    }
}

.more {
    height: 100%;
    @extend %btn-style-basic;
    background: $accent;
    color: $text;
    padding: $spacing-xs $spacing-md;
    font-size: $f-s-lg;
    letter-spacing: $letter-spacing-basic;

    &:hover {
        color: $text;
        transform: translateY(-2px);
        // box-shadow: 0 5px 15px rgba($accent, 0.3);
    }
}