// color

// brand color
// accent
$accent: #F18888;

// primary
$primary: #69AEAA;

// secondary
$secondary: #8F9FA4;

// background
$background: #181A1B;

// text
$text: #FFFFFF;

// basic color system
// neutral
$white: #fff;
$gray-bg: #d9d9d9;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// color palette
$colors: (
    'accent': $accent,
    'primary': $primary,
    'secondary': $secondary,
    'background': $background,
    'text': $text,
    'white': $white,
    'gray': $gray-500,
    'black': $black,
);

// alpha
$alpha-10: 0.1;
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-30: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-80: 0.8;
$alpha-90: 0.9;
$alpha-100: 1;