@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Glitch&display=swap");
body, .creator_controls .sound_selection .sound_numbers .sound_btn, .creator_controls .control_panel .control_group .sound_toggle, .creator_controls .control_panel .control_group .share_btn {
  font-family: "Roboto Mono", "Noto Sans TC", san-serif;
}

.sound_creator_content_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound_creator_content_wrap .sound_deco_left {
  display: flex;
  flex-direction: column;
}

.creator_controls .sound_selection .sound_numbers .sound_btn, .creator_controls .control_panel .control_group .sound_toggle, .creator_controls .control_panel .control_group .share_btn {
  min-height: 36px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  color: #F18888;
  font-size: 1.25rem;
  line-height: 70%;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.creator_controls .sound_selection .sound_numbers .sound_btn:hover, .creator_controls .control_panel .control_group .sound_toggle:hover, .creator_controls .control_panel .control_group .share_btn:hover {
  background: #F18888;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181A1B;
  font-size: 100%;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

button {
  border: none;
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px;
}

.logo {
  font-family: "Rubik Glitch", system-ui;
  font-size: 2rem;
  color: #F18888;
}

.nav_list {
  display: flex;
}

.nav_item a {
  margin-left: 25px;
  font-size: 1.25rem;
}
.nav_item a:hover {
  color: #F18888;
  transition: all 0.3s;
}

.footer_wrap {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 90px 0;
}

.footer_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_left .slogan {
  font-size: 3.75rem;
}
.footer_left .slogan p {
  margin-bottom: 50px;
}
.footer_left .socials {
  display: flex;
  margin-bottom: 15px;
}
.footer_left .socials .icon-fb {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: url("./images/Footer/fb.svg") no-repeat center;
  background-size: contain;
}
.footer_left .socials .icon-fb:hover {
  filter: brightness(0.8);
}
.footer_left .socials .icon-ig {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: url("./images/Footer/ig.svg") no-repeat center;
  background-size: contain;
}
.footer_left .socials .icon-ig:hover {
  filter: brightness(0.8);
}
.footer_left .socials .icon-spotify {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: url("./images/Footer/spotify.svg") no-repeat center;
  background-size: contain;
}
.footer_left .socials .icon-spotify:hover {
  filter: brightness(0.8);
}
.footer_left .socials .icon-soundcloud {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: url("./images/Footer/soundcloud.svg") no-repeat center;
  background-size: contain;
}
.footer_left .socials .icon-soundcloud:hover {
  filter: brightness(0.8);
}
.footer_left .socials .icon-yt {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: url("./images/Footer/yt.svg") no-repeat center;
  background-size: contain;
}
.footer_left .socials .icon-yt:hover {
  filter: brightness(0.8);
}
.footer_left small {
  font-size: 0.75rem;
}

.footer_right .arrow {
  transition: transform 0.3s ease;
}
.footer_right .arrow:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.sound_creator_content_wrap {
  height: 80vh;
  margin-bottom: 50px;
}
.sound_creator_content_wrap .sound_deco_left {
  justify-content: space-between;
  width: 3.5%;
  height: 100%;
}
.sound_creator_content_wrap .sound_deco_right {
  width: 3.5%;
  height: 100%;
}
.sound_creator_content_wrap .sound_deco_right img {
  height: 100%;
}

.sound_creator_wrap {
  width: 90%;
  height: 100%;
  padding: 10px 50px 50px;
  background-image: url("./images/SoundCreator/hud-bg.png");
  background-position: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.creator_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.creator_header .datetime_info .datetime {
  font-size: 1.25rem;
  color: #F18888;
  margin-bottom: 10px;
}
.creator_header .datetime_info .earth_date {
  font-size: 1.25rem;
  color: #F18888;
  margin-bottom: 20px;
}
.creator_header .datetime_info .signal_bars {
  display: flex;
  align-items: center;
  gap: 8px;
}
.creator_header .datetime_info .signal_bars .bar {
  width: 6px;
  height: 20px;
  border-radius: 7.5px;
  background: #F18888;
  display: block;
}
.creator_header .datetime_info .signal_bars p {
  margin-left: 5px;
  font-size: 1rem;
  color: #F18888;
}
.creator_header .creation_status {
  text-align: right;
}
.creator_header .creation_status .creating_title {
  font-size: 1.75rem;
  color: #F18888;
  margin-bottom: 10px;
  border: 3px solid #F18888;
  padding: 15px 20px;
  border-radius: 5px;
}
.creator_header .creation_status .file_info {
  font-size: 1.25rem;
  color: #F18888;
  margin-top: 15px;
}

.creator_controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.creator_controls .sound_selection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.creator_controls .sound_selection .selection_title {
  font-size: 1.25rem;
  color: #F18888;
  margin-bottom: 20px;
}
.creator_controls .sound_selection .sound_numbers {
  display: flex;
  gap: 15px;
}
.creator_controls .sound_selection .sound_numbers .sound_btn {
  border: solid 3px #F18888;
}
.creator_controls .sound_selection .sound_numbers .sound_btn.active {
  background: #F18888;
  border-color: #F18888;
  color: #FFFFFF;
}
.creator_controls .sound_visualizer .visualizer_bars {
  display: flex;
  gap: 3px;
  align-items: flex-end;
  gap: 10px;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar {
  width: 6px;
  background: #F18888;
  display: block;
  border-radius: 999px;
  animation: pulse 1.5s ease-in-out infinite;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar:nth-child(1) {
  height: 37px;
  animation-delay: 0s;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar:nth-child(2) {
  height: 13px;
  animation-delay: 0.2s;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar:nth-child(3) {
  height: 32px;
  animation-delay: 0.4s;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar:nth-child(4) {
  height: 42px;
  animation-delay: 0.6s;
}
.creator_controls .sound_visualizer .visualizer_bars .vis_bar:nth-child(5) {
  height: 9px;
  animation-delay: 0.8s;
}
.creator_controls .control_panel {
  display: flex;
  gap: 30px;
}
.creator_controls .control_panel .control_group {
  text-align: center;
}
.creator_controls .control_panel .control_group .control_label {
  font-size: 1.25rem;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.creator_controls .control_panel .control_group .random_btn {
  background-color: transparent;
  cursor: pointer;
}
.creator_controls .control_panel .control_group .random_btn:hover svg {
  fill: #F18888;
}
.creator_controls .control_panel .control_group .random_btn:hover svg circle {
  fill: #fff;
}
.creator_controls .control_panel .control_group .sound_toggle {
  border: solid 3px #F18888;
}
.creator_controls .control_panel .control_group .sound_toggle.playing {
  background: transparent;
  color: #F18888;
}
.creator_controls .control_panel .control_group .share_btn {
  border: solid 3px #F18888;
}